* {
    margin: 0;
    padding: 0;
}

/* Top nav bar */
.top-nav-bar {
    background: red;
    width: 100%;
    position: relative;
    height: 8vh;
    display: flex;
    align-items: center;
}

/* Top nav bar LEFT SIDE */
.top-nav-bar-left {
    background: green;
    position: absolute;
}

.top-nav-bar-left a {
    background: blue;
    margin-left: 30px;
    color: white;
    font-size: 18px;
}

/* Top nav bar RIGHT SIDE */
.top-nav-bar-right {
    background: wheat;
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
}

.top-nav-bar-right a {
    background: blue;
    margin-right: 30px;
    color: white;
    font-size: 18px;
}

/* Menu icon on RIGHTSIDE TOPNAVBAR */
.top-nav-bar-right img {
    width: 48px;
    height: 48px;
}

/* Sign Up button in RIGHTSIDE TOPNAVBAR */
.sign-up {
    background: green;
    width: 150px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding-left: 10px;
    height: 40px;
    border-radius: 20px;
}

.sign-up img {
    width: 40px;
    height: 40px;
}

.sign-up p {
    font-size: 18px;
    padding: 10px;
}

/* Main Screen */

.main-screen {
    background-color: aqua;
    height: 80vh;
}