* {
    margin: 0;
    padding: 0;
    font-family: 'Google', sans-serif;
    text-decoration: none;
    user-select: none;
}


.top_nav_bar {
    width: 100%;
    position: relative;
    height: 8vh;
    display: flex;
    align-items: center;
}

.top_nav_bar_left {
    position: absolute;
}

.top_nav_bar_left a {
    margin-left: 30px;
    color: black;
    font-size: 18px;
}

.top_nav_bar_right {
    position: absolute;
    right: 10px;
    display: flex;
    align-items: center;
}

.top_nav_bar_right a {
    margin-right: 30px;
    color: black;
    font-size: 18px;
}

.top_nav_bar_right_img {
    
    width: 35px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.top_nav_bar_right_img img {
    width: 28px;
    height: 28x;
}

.sign_up {
    background: blue;
    width: 120px;
    display: flex;
    align-items: center;
    margin-left: 10px;
    padding-left: 10px;
    height: 40px;
    border-radius: 20px;
}

.sign_up img {
    width: 24px;
    height: 24px;
}

.sign_up p {
    font-size: 18px;
    padding: 10px;
    color: white;
}

.main_screen {
    height: 78vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;      
}

.main_screen h1 {
    margin-top: -200px;
    font-size: 120px;
    font-family: "Google Sans", sans-serif;
    letter-spacing: -0.45cm;
}

#blue {
    color: #4285F4;
}

#red {
    color: #DB4437;
}

#yellow {
    color: #F4B400;
}

#green {
    color: #0F9D58;
}

.search_bar_box {
    width: 810px;
    height: 50px;
    display: flex;
    align-items: center;
    border: 0.2px solid grey;
    border-radius: 30px;
}

.search_bar_img_box {
    width: 35px;
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
    margin-left: 10px;
    border-radius: 30px;
}

.search_bar_box img {
    width: 28px;
    height: 28px;
}

.search_bar_box input {
    height: 40px;
    font-size: 24px;
    outline: none;
    border: none;
    padding-left: 20px;
    width: 550px;
}

.search_bar_img_box1 {
    width: 35px;
    display: flex;
    align-items: center;
    height: 40px;
    justify-content: center;
    margin-left: 2px;
    border-radius: 30px;
}

.ai_mode {
    background-color: rgb(238, 236, 236);
    width: 100px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-left: 5px;
    padding-left: 5px;
    border-radius: 30px;
}

.ai_mode p {
    padding-left: 6px;
}

.btn_main {
    margin-top: 40px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}

.btn1 {
    background-color: #eeeeee;
    width: 120%;
    font-size: 16px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    color: black;
}

.foot_nav_bar {
    width: 100%;
    height: 88px;
}

.foot_nav_bar_a {
    background-color: #eeeeee;
    height: 40px;
    display: flex;
    align-items: center;
    padding-left: 30px;
}

.foot_nav_bar_a p {
    font-size: 18px;
}

hr {
    border: none;
    height: 1px;
    background: rgb(197, 197, 197);
}

.foot_nav_bar_b {
    background-color: #eeeeee;
    height: 45px;
    display: flex;
    align-items: center;
    position: relative;
}

.foot_nav_bar_b_left {
    font-size: 18px;
}

.foot_nav_bar_b_left a {
    padding-left: 30px;
    color: black;
}

.foot_nav_bar_b_right {
    position: absolute;
    right: 30px;
    font-size: 18px;
}

.foot_nav_bar_b_right a {
    padding-right: 30px;
    color: black;
}

.top_nav_bar_left a:hover, .top_nav_bar_right a:hover, .foot_nav_bar_b_left a:hover, .foot_nav_bar_b_right a:hover {
    text-decoration: underline;
}

.top_nav_bar_right_img:hover,.search_bar_img_box:hover, .search_bar_img_box1:hover {
    background-color: #eeeeee;
}

.sign_up:hover  {
    border: 1px solid #eeeeee;
}

.btn1:hover, .ai_mode:hover {
    border: 1px solid #858585;
}