* {
    margin: 0;
    padding: 0;
}

.top-nav-bar {
    background: red;
    width: 100%;
    position: relative;
    height: 8vh;
    display: flex;
    align-items: center;
}

.top-nav-bar-left {
    background: green;
    position: absolute;
}

.top-nav-bar-left a {
    background: blue;
    margin-left: 30px;
    color: white;
    font-size: 18px;
}